<%

    var currently_enrolled = [];
    for(var i = 0; i < currentEnrollments.length; i ++)
    {
        currently_enrolled.push( currentEnrollments[i].student );
    }
%>


<html>
<head>
     <% include ../partials/header %>
</head>
<body>
    <div class = "container">
        <h1>Add Students to <%= className %> </h1>
        <form action="/enrollments/<%= className %>/create" method = "post">
            <% for(var i = 0; i < students.length; i ++ ) { %>

                <div class="checkbox">
                    <label>
                        <% if (currently_enrolled.indexOf(students[i].facebook.name) < 0) { %>
                            <input type="checkbox" name = "<%= students[i].facebook.name %>"> <%= students[i].facebook.name %>
                        <% } else { %>
                            <input type="checkbox" name = "<%= students[i].facebook.name %>" checked = "true"> <%= students[i].facebook.name %>
                        <% } %>
                    </label>
                </div>

            <% } %>

            <button type="submit" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Add Students
            </button>

        </form>

    </div>
</body>
